<%- include('header') %>



<!--  Camera_Slideshow Styles  -->
<link rel="stylesheet" id="camera-css" href="camera.css" type="text/css" media="all" />
<!-- Camera Slideshow Scripts -->
<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script type='text/javascript'
    src='http://project.dimpost.com/camera-slideshow/scripts/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'>
</script>
<script type='text/javascript' src='http://project.dimpost.com/camera-slideshow/scripts/camera.min.js'></script>
<script type='text/javascript'>
    jQuery(function () {
        jQuery('#camera_wrap_1').camera({
            time: 2500, // milliseconds between the end of the sliding effect and the start of the nex one
            transPeriod: 1200, // length of the sliding effect in milliseconds
            thumbnails: false, // thumnails & tooltip is controlled by it
            pagination: true, // only when "pagination" is set to "false" thumbnails will be visible
            fx: 'curtainTopLeft, curtainTopRight, curtainBottomLeft, curtainBottomRight, curtainSliceLeft, curtainSliceRight, blindCurtainTopLeft, blindCurtainTopRight, blindCurtainBottomLeft, blindCurtainBottomRight, blindCurtainSliceBottom, blindCurtainSliceTop, stampede, mosaic, mosaicReverse, mosaicRandom, mosaicSpiral, mosaicSpiralReverse, topLeftBottomRight, bottomRightTopLeft, bottomLeftTopRight, bottomLeftTopRight, scrollLeft, scrollRight, scrollHorz, scrollBottom, scrollTop', // transition effects
            hover: false, // Pause on hover
            height: '50%' // slideshow height (50% is default)
        });
    });
</script>
<style type="text/css">
    .fluid_container {
        margin: 0 auto;
        /* aling centered */
        width: 100%;
        max-width: 900px;
        overflow: hidden;
    }


    /* Blogger CSS Conflict Fix */

    .camera_pag_ul {
        border: none !important;
        background: none !important;
    }

    .camera_pag_ul li {
        float: inherit !important;
        padding: inherit !important;
    }

    .camera_pag_ul {
        margin: 0 !important;
        border: 0 !important;
    }
</style>
<div class="fluid_container">
    <!-- camera_slideshow camera_wrap-->
    <div class="camera_wrap" id="camera_wrap_1">
        <div data-link="https://www.sunykoreaisa.org"
            data-thumb="https://1.bp.blogspot.com/-rdILQaYJ1Mw/Xc-7QoJfyoI/AAAAAAAAARE/7o58xbQvhyYJQJy2ybzcei_QBWfgLXWPgCLcBGAsYHQ/s1600/93463CCE-084F-11EA-B9CD-0E4CBA687083.jpg"
            data-src="https://1.bp.blogspot.com/-rdILQaYJ1Mw/Xc-7QoJfyoI/AAAAAAAAARE/7o58xbQvhyYJQJy2ybzcei_QBWfgLXWPgCLcBGAsYHQ/s1600/93463CCE-084F-11EA-B9CD-0E4CBA687083.jpg">
            <div class="camera_caption fadeFromBottom">
                International Students' Dinner (Fall 2019) </div>
        </div>







        <div data-link="https://www.sunykoreaisa.org"
            data-thumb="https://1.bp.blogspot.com/-MGMwIupD2lM/XeItswewHQI/AAAAAAAAASY/CZic5rTOe-sXJZpwOLBKqdDVySoYU_6hQCLcBGAsYHQ/s1600/grp_f.jpeg"
            data-src="https://1.bp.blogspot.com/-MGMwIupD2lM/XeItswewHQI/AAAAAAAAASY/CZic5rTOe-sXJZpwOLBKqdDVySoYU_6hQCLcBGAsYHQ/s1600/grp_f.jpeg">
            <div class="camera_caption fadeFromBottom">
                International Students' Dinner (Fall 2019) </div>
        </div>












        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html"
            data-thumb="https://1.bp.blogspot.com/-S7HrNv9G2n8/XVOrEoGj9uI/AAAAAAAAAI8/7dyXiQou-W4LjczRbdL9XkEPaQbBNbCXgCLcBGAs/s1600/IMG_0555.JPG"
            data-src="https://1.bp.blogspot.com/-S7HrNv9G2n8/XVOrEoGj9uI/AAAAAAAAAI8/7dyXiQou-W4LjczRbdL9XkEPaQbBNbCXgCLcBGAs/s1600/IMG_0555.JPG">
            <div class="camera_caption fadeFromBottom">
                Group Photo at Iftar Dinner (Spring 2019)
            </div>
        </div>

        <div data-link="https://1.bp.blogspot.com/-5sLixfFhOIM/XYUILWfmxvI/AAAAAAAAAN8/So-0vBYc0yM4H-MkUwQ9VNLBNuGOfooPgCLcBGAsYHQ/s1600/67953383_372133380362252_5237730092233654639_n.jpg"
            data-src="https://1.bp.blogspot.com/-5sLixfFhOIM/XYUILWfmxvI/AAAAAAAAAN8/So-0vBYc0yM4H-MkUwQ9VNLBNuGOfooPgCLcBGAsYHQ/s1600/67953383_372133380362252_5237730092233654639_n.jpg">
            <div class="camera_caption fadeFromBottom">
                Women Power: ISA Executive Team (2019-20) (from left: Kelly, Alexa, Binur)
            </div>
        </div>





        <div data-link="https://www.sunykoreaisa.org/"
            data-thumb="https://1.bp.blogspot.com/-DQmgJ5-W3x0/XYOAz0GP0FI/AAAAAAAAANY/cMTQf1GUn6k_pbNfDUeUs3EIGiIxjenzACLcBGAsYHQ/s1600/DSC00138.JPG"
            data-src="https://1.bp.blogspot.com/-DQmgJ5-W3x0/XYOAz0GP0FI/AAAAAAAAANY/cMTQf1GUn6k_pbNfDUeUs3EIGiIxjenzACLcBGAsYHQ/s1600/DSC00138.JPG">
            <div class="camera_caption fadeFromBottom">
                Club Expo Fall 2019
            </div>
        </div>



        <div data-link="https://www.sunykoreaisa.org/"
            data-thumb="https://1.bp.blogspot.com/-qNEViaco8rY/XYOAz9F2gQI/AAAAAAAAANc/w-iQ4TJhLXIBdlRIKCBBp2n9vBvIVQRNQCLcBGAsYHQ/s1600/DSC00151.JPG"
            data-src="https://1.bp.blogspot.com/-qNEViaco8rY/XYOAz9F2gQI/AAAAAAAAANc/w-iQ4TJhLXIBdlRIKCBBp2n9vBvIVQRNQCLcBGAsYHQ/s1600/DSC00151.JPG">
            <div class="camera_caption fadeFromBottom">
                Emerald from Myanmar in Fall 2019 Club Expo
            </div>
        </div>






        <div data-link="https://www.sunykoreaisa.org/p/movie-night.html"
            data-thumb="https://1.bp.blogspot.com/-O7ke8LwAxrw/XVPCDXdkzVI/AAAAAAAAAKk/UuuZ5gD1kqoN2K41whRKxo3iBmKGzJoNQCLcBGAs/s1600/IMG_8886.JPG"
            data-src="https://1.bp.blogspot.com/-O7ke8LwAxrw/XVPCDXdkzVI/AAAAAAAAAKk/UuuZ5gD1kqoN2K41whRKxo3iBmKGzJoNQCLcBGAs/s1600/IMG_8886.JPG">
            <div class="camera_caption fadeFromBottom">
                Rahel and Tia enjoying at ISA's Movie Night
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html/"
            data-thumb="https://1.bp.blogspot.com/-UDQ8wvRhaVM/XVO3V9zAcCI/AAAAAAAAAJw/FR5IOxjo0QccbfgjUc7WcsBnndpCUO1dACLcBGAs/s1600/IMG_0479%2B%25281%2529.JPG"
            data-src="https://1.bp.blogspot.com/-UDQ8wvRhaVM/XVO3V9zAcCI/AAAAAAAAAJw/FR5IOxjo0QccbfgjUc7WcsBnndpCUO1dACLcBGAs/s1600/IMG_0479%2B%25281%2529.JPG">
            <div class="camera_caption fadeFromBottom">
                Nilson From Nepal and Crispen from Zimbabwe in their traditional dressing
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/movie-night.html"
            data-thumb="https://1.bp.blogspot.com/-s6HxhmcxCJE/XVPB3UCQcwI/AAAAAAAAAKY/uxLCAlU8SgQN7qWyGOT-zxm_bU0ZX9VrwCLcBGAs/s1600/IMG_8826.JPG"
            data-src="https://1.bp.blogspot.com/-s6HxhmcxCJE/XVPB3UCQcwI/AAAAAAAAAKY/uxLCAlU8SgQN7qWyGOT-zxm_bU0ZX9VrwCLcBGAs/s1600/IMG_8826.JPG">
            <div class="camera_caption fadeFromBottom">
                Anushka from India at ISA's Movie Night
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html/"
            data-thumb="https://1.bp.blogspot.com/-SOZ2kfOBU10/XVPIWd4P5WI/AAAAAAAAALY/R-Y5v_Ij0BM0F824gpuv0RxH-eO-YQxswCLcBGAs/s1600/rsz_1rsz_img_0565.jpg"
            data-src="https://1.bp.blogspot.com/-SOZ2kfOBU10/XVPIWd4P5WI/AAAAAAAAALY/R-Y5v_Ij0BM0F824gpuv0RxH-eO-YQxswCLcBGAs/s1600/rsz_1rsz_img_0565.jpg">
            <div class="camera_caption fadeFromBottom">
                Roshan, ISA Founder and President(2018-19), with Professor Lee
            </div>
        </div>
        <div data-link="https://www.instagram.com/sunykoreaisa/"
            data-thumb="https://1.bp.blogspot.com/-7D6t5FmQcag/XVPN5LE2wMI/AAAAAAAAAMQ/bcU8Il1b3WE2wr-1XGmWH1udnLhDxmHwwCLcBGAs/s1600/47031148_2004751282948279_4772813325173163196_n.jpg"
            data-src="https://1.bp.blogspot.com/-7D6t5FmQcag/XVPN5LE2wMI/AAAAAAAAAMQ/bcU8Il1b3WE2wr-1XGmWH1udnLhDxmHwwCLcBGAs/s1600/47031148_2004751282948279_4772813325173163196_n.jpg">
            <div class="camera_caption fadeFromBottom">
                Alexa, ISA President(2019-20) and Secretary(2018-19), enjoying the snow
            </div>
        </div>
        <div data-link="https://www.instagram.com/sunykoreaisa/"
            data-thumb="https://1.bp.blogspot.com/-jvf0cmTgQxM/XVPN5Gt1MSI/AAAAAAAAAMU/19DJFIo0pN8vbi4aR-wKWIBYQq4AMYHuQCLcBGAs/s1600/46474450_359406917972405_8042906064884090940_n.jpg"
            data-src="https://1.bp.blogspot.com/-jvf0cmTgQxM/XVPN5Gt1MSI/AAAAAAAAAMU/19DJFIo0pN8vbi4aR-wKWIBYQq4AMYHuQCLcBGAs/s1600/46474450_359406917972405_8042906064884090940_n.jpg">
            <div class="camera_caption fadeFromBottom">
                Students from StonyBrook enjoying the Snow on campus
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html/"
            data-thumb="https://1.bp.blogspot.com/-TqCaubZ-O18/XVOq7CgM9CI/AAAAAAAAAIc/G2ln201KvaklTzQhh-NTvBEgJ3_5MhkRQCLcBGAs/s1600/IMG_0467.JPG"
            data-src="https://1.bp.blogspot.com/-TqCaubZ-O18/XVOq7CgM9CI/AAAAAAAAAIc/G2ln201KvaklTzQhh-NTvBEgJ3_5MhkRQCLcBGAs/s1600/IMG_0467.JPG">
            <div class="camera_caption fadeFromBottom">
                Rahel and Tia from Ethiopia in their traditional costumes
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html"
            data-thumb="https://1.bp.blogspot.com/-av3himzlLl8/XVPLeo0h8GI/AAAAAAAAALs/cBTQWMYNcH8mcy4phVLh21A9OldiOE0ugCLcBGAs/s1600/IMG_0493.JPG"
            data-src="https://1.bp.blogspot.com/-av3himzlLl8/XVPLeo0h8GI/AAAAAAAAALs/cBTQWMYNcH8mcy4phVLh21A9OldiOE0ugCLcBGAs/s1600/IMG_0493.JPG">
            <div class="camera_caption fadeFromBottom">
                Students from FIT and StonyBrook enjoying the Iftar Dinner
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html"
            data-thumb="https://1.bp.blogspot.com/-58tBcr89cOA/XVPLe4Hgj0I/AAAAAAAAALw/KX6UbD6yUGM6iRMoMpkw_JikeYgkrV1mgCLcBGAs/s1600/IMG_0488.JPG"
            data-src="https://1.bp.blogspot.com/-58tBcr89cOA/XVPLe4Hgj0I/AAAAAAAAALw/KX6UbD6yUGM6iRMoMpkw_JikeYgkrV1mgCLcBGAs/s1600/IMG_0488.JPG">
            <div class="camera_caption fadeFromBottom">
                Food Served at Iftar Dinner (Spring 2019)
            </div>
        </div>
        <div data-link="https://www.sunykoreaisa.org/p/iftar-dinner.html/"
            data-thumb="https://1.bp.blogspot.com/-2fxg9e_93tE/XVOrIlqeq3I/AAAAAAAAAJA/hqQOM7zeysodjeGO_tijt-5wTZt3yi-rgCLcBGAs/s1600/IMG_0603.JPG"
            data-src="https://1.bp.blogspot.com/-2fxg9e_93tE/XVOrIlqeq3I/AAAAAAAAAJA/hqQOM7zeysodjeGO_tijt-5wTZt3yi-rgCLcBGAs/s1600/IMG_0603.JPG">
            <div class="camera_caption fadeFromBottom">
                Performance from our talented students at Iftar Dinner
            </div>
        </div>




    </div>

    <!-- #camera_wrap_1 -->

    <!-- .fluid_container -->

    <h1> This is a text in the homepage!</h1>
    <%- include('footer') %>

</div>